@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the UBCompany Azure and .NET Core based website</h1>
    <h3> we're going to be schedule CICD deployment via GITHUB repository using AZURE AppService Automatic CICD Deployment Center and Azure Pipeline.</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
