@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<span>
    <p>
        Where necessary in connection with services provided by third parties (i) who provide us with a wide range of office, administrative, information technology, website and platform hosting, editing, production, payment, business management, analytics, content management, indexing, archiving, or marketing services; and (ii) who are required to comply with applicable privacy laws;
        Where you voluntarily provide information in response to an advertisement from a third party;
        Where third party such as an academic institution, school, employer, business or other entity has provided you with access to a Wiley product or service through an integration or access code, information may be shared regarding your engagement with the service or product, results of assessments taken and other information you input into the product or service;
    </p>
</span>
